{% if ssmtp_revaliases | length > 0 %}
{% for alias in ssmtp_revaliases %}
  {{ alias.user }}:{{ alias.from }}:{{
    alias.mailhub
    | default(ssmtp_mailserver_host + ':' + ssmtp_mailserver_port | string)
  }}
{% endfor %}
{% endif %}
